:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-bg);
  color-scheme: light dark;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-bg: #fffdf9;
  --color-accent: #f8bbd0;
  --color-text: #616161;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background: #e789aa;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input {
  all: unset;
  box-sizing: border-box;
}

.container {
  max-width: 320px;
  padding: 40px 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
  }
}
